body.p-welcomecash.background-brand-color {
  background-color: red!important;
}

body.p-welcomecash .header {
  background-color: salmon!important;
}

body.p-welcomecash .footer {
  background-color: lightblue!important;
}